.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.list-group-item {
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: #25272b;
  color: white;
}

.viewer-div {
  background-color: black;
}

.client-list-item {
  background-color: #56595e;
}

.client-list-header{
  background-color: #56595e;
}

.body {
}

.button {
}

.frame-rate {
    position: absolute;
    right: 40px;
    top: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

