.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: yellow;
}

.navbar-text {
  margin-left: 15px;
}

.list-group-item {
  background-color: blackss;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  background-color: green;
  color: white;
}

.body {
  padding-right: -15px;
}

.button {
  background-color: grey;
}

viewer {
  border: 20px;
  background-color: green;
}

.client {
  background-color: powderblue;
  float:left;
  width: 350px;
  height: 650px;
}

.buttons {
  background-color: red;
  width: 100%;
  float:left;
}

.right_slice {
  padding-left: 25px;
  float:left;
  background-color: purple;
  width: 750px;
}

.frame_rate {
  background-color: grey;
}

